src/XsdToCode.Tests/Actor.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" id="Actor" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Actor">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FirstName" type="xs:string">
        </xs:element>
        <xs:element name="LastName" type="xs:string">
        </xs:element>
      </xs:sequence>
      <xs:attribute name="PrincipalActor" type="xs:boolean" />
      <xs:attribute default="US" name="Nationality" type="xs:string">
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>